@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --input-color: #99a3ba;
    --input-border: #cdd9ed;
    --input-background: #fff;
    --input-placeholder: #cbd1dc;
    --input-border-focus: #275efe;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #eef4ff;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678efe;
}
.form-field {
    display: block;
    margin-bottom: 1rem;
    width: 23rem;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}
.form-field::placeholder {
    color: var(--input-placeholder);
}
.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group > span, .form-group .form-field {
    white-space: nowrap;
    display: block;
}
.form-group > span:not(:first-child):not(:last-child), .form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.form-group > span:first-child, .form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}
.form-group > span:last-child, .form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child), .form-group .form-field:not(:first-child) {
    margin-left: -1px;
}
.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 100vh;
    font-family: 'Mukta Malar', Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5f9ff;
}
body .form-group {
    max-width: 360px;
}
body .form-group:not(:last-child) {
    margin-bottom: 32px;
}

.btn{
    display: block;
    background-color: #212F3C;
    padding: 6px 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Helvetica', Arial, sans-serif
}

.head {
    margin-bottom: 2rem;
}

.result {
    margin-top: 1rem;
}

.container{ 
    max-width: 80vw;
    margin: auto;
    padding: 9px 15px;
}

img {
    margin-top: 1rem;
}

main{
    min-height: 100vh; 
}

.logo img{
    width: 15px;
    filter: invert(1);
}

.container{ 
    max-width: 80vw;
    margin: auto;
    padding: 9px 15px;
}

.container h1{
    padding: 12px 0;
}

#resultCont div::first-letter{
    text-transform: uppercase;
}

footer{
    font-size: 12px;
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    .container{
        font-size: 12px; 
    }
    .logo{
        padding: 6px 0;
        font-size: 12px;
    }
    .logo span{
        font-size: 20px;
    }
    .logo img{
        width: 15px;
        filter: invert(1);
    }
}
